In [5]:
import pandas as pd
import numpy as np

In [7]:
pd.date_range(start="20190503",end="20190603",freq="10D")

DatetimeIndex(['2019-05-03', '2019-05-13', '2019-05-23', '2019-06-02'], dtype='datetime64[ns]', freq='10D')

In [9]:
pd.date_range(start="20190503",periods=7,freq="M")

DatetimeIndex(['2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30'],
              dtype='datetime64[ns]', freq='M')

In [10]:
pd.date_range(start="2019-05-03 13:13:00",periods=7,freq="H")

DatetimeIndex(['2019-05-03 13:13:00', '2019-05-03 14:13:00',
               '2019-05-03 15:13:00', '2019-05-03 16:13:00',
               '2019-05-03 17:13:00', '2019-05-03 18:13:00',
               '2019-05-03 19:13:00'],
              dtype='datetime64[ns]', freq='H')

In [12]:
t = pd.DataFrame(np.arange(12).reshape(3,4))

In [17]:
t

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [24]:
t.loc[1,2]

6

In [25]:
t[1][2]

9